<% @posts.each do |post| %>
<div>
	<h2><a href="/authors/<%= post.author.id %>"><%= post.author.user_name %></a> says... </h2>
	<a href="/posts/<%= post.id %>">
	<img src="<%= post.image_url%>"></a>
	<br>
	<div class="caption">
	<p class="caption"> <%= post.caption %> </p>
</div><br>
	 <% post.tags.each do |tag| %>
	 | <a href="/tags/<%= tag.id %>"><%= tag.name %></a> |
	<% end %>
	<br><br>
	<hr style="width:60%" />
</div>
<% end %>
