<div>
	<h2><%= @author.user_name.capitalize %></a></h2>
	<img src="<%= @author.image_url %>">
	<br>
	<%= @author.bio %> <br><br>
	<a href="/authors/<%= @author.id %>/edit">Edit</a>
	<br><br>
		<hr style="width:60%" />
	<% @author.posts.each do |post| %>
	<p class="author_page">
		On <%= post.created_at.strftime("%m/%e/%Y") %> <%= @author.user_name.capitalize %> said...<br><br></p>
	<img src="<%= post.image_url %>"> <br>
	<div class="caption">
	<p class="caption"><%= post.caption %></p> <br>
</div>
<br>
<hr style="width:60%" />
</div>
<br>
	<% end %>